/*Media - Stylesheet*/
@media (min-width: 1920px)  {
    .app-wrap .content .dash-left .dash-box .dash-meter-no {
        font-size: 14px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-body p {
        font-size: 26px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-head p {
        font-size: 23px;
        padding: 5px 14px 3px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-head .percent {
        font-size: 14px;
        padding: 0px 14px;
    }
    .app-wrap .content .dash-center .num-box-row .small {
        font-size: 14px;
        line-height: 18px;
    }
    .app-wrap .content .dash-center .num-box-row .big {
        font-size: 30px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-img canvas {
        max-height: 180px;
    }
    .app-wrap .content .dash-bottom .dash-box .graph-box canvas {
        max-height: 200px;
    }
    .app-wrap .content .dash-right .dash-right-btn{
        font-size: 14px;
    }
    .app-wrap .content .dash-right .dash-box .dash-big{
        font-size: 32px;
        margin-bottom: 26px;
        padding: 0px 19px;
    }
}
@media (min-width: 0px) and (max-width: 1280px) {
    .app-wrap .top-bar .top-bar-filter .top-bar-select {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        margin-left: 7px;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-select label {
        font-size: 10px;
        margin-left: 0px;
        margin-right: 3px;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-select select {
        width: 70px;
        border-radius: 3px;
        font-size: 11px;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-btn{
        padding: 3px 5px;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-btn a{
        font-size: 11px;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-btn a svg{
        width: 13px;
        margin-top: -1px;
    }
    .app-wrap .content .dash-box .dash-head span{
        padding-right: 30px;
    }
}
@media (min-width: 0px) and (max-width: 1024px) {
    .full-height{
        height: auto;
    }
    .app-wrap .content-box{
        grid-template-rows: 60px 1fr 30px;
    }
    .app-wrap .top-bar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .app-wrap .top-bar .h1::after{
        width: 0px;
    }
    .app-wrap .top-bar .top-bar-filter{
        width: 100%;
    }
    .app-wrap .top-bar .top-bar-filter .top-para{
        margin-left: auto;
    }
    .app-wrap .content {
        grid-template-columns: 1fr;
    }
    .app-wrap .content .dash-left {
        grid-row: span 1;
        grid-column: span 1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
    }
    .app-wrap .content .dash-left .dash-box .dash-meter {
        padding: 0px 60px;
    }
    .app-wrap .content .dash-center{
        grid-column: 1;
        grid-row: 3;
    }
    .app-wrap .content .dash-center .dash-response-box{
        
    }
    .app-wrap .content .dash-center .num-box-row {
    }
    .app-wrap .content .dash-center .dash-graph-num{
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }
    .app-wrap .content .dash-center .dash-graph-num .dash-acq-box{
        grid-column: 1 / 3;
        grid-row: 1;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-img canvas{
        max-height: 150px;
    }
    .app-wrap .content .dash-right{
        grid-row: 2;
        grid-column: 1;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    .app-wrap .content .dash-right .dash-right-btn:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
    }
    .app-wrap .content .dash-right .dash-box:nth-child(3),
    .app-wrap .content .dash-right .dash-box:nth-child(4),
    .app-wrap .content .dash-right .dash-box:nth-child(5){
        grid-row: span 2;
    }
    .app-wrap .content .dash-bottom{
        grid-template-columns: 1fr 1fr;
        grid-column: 1;
        grid-row: 4;
        row-gap: 10px;
    }
}
@media (min-width: 0px) and (max-width: 800px) {
    .app-wrap .content .dash-box{
        border-radius: 12px;
    }
    .app-wrap .content .dash-center .dash-response-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .app-wrap .content .dash-center .num-box-row{
        grid-template-columns: repeat(3, 1fr);
    }
    .app-wrap .content .dash-center .dash-graph-num{
        grid-template-columns: 1fr;
    }
    .app-wrap .content .dash-center .dash-graph-num .dash-acq-box{
        grid-column: 1;
    }
    .app-wrap .content .dash-bottom{
        grid-template-columns: 1fr;
    }
    .app-wrap .top-bar .h1{
        position: absolute;
        top: 2px;
    }
    .app-wrap .top-bar .top-bar-filter{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto auto auto auto;
        margin-top: 32px;
        margin-top: 26px;
    }
    .app-wrap .top-bar .top-bar-filter .ver-line{
        display: none;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-select {
        grid-template-columns: auto 1fr;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-select select{
        width: 100%;
    }
    .app-wrap .top-bar .top-bar-filter .top-para{
        position: absolute;
        top: 6px;
        right: 147px;
    }
    .app-wrap .top-bar .top-bar-filter .top-user{
        position: absolute;
        top: 0px;
        right: 15px;
        display: grid;
        grid-template-columns: auto 93px;
    }
    .app-wrap .top-bar .top-bar-filter .top-user p{
        line-height: 10px;
    }
    .app-wrap .content .dash-right .dash-right-btn {
        grid-template-rows: auto;
        align-content: center;
    }
    .app-wrap .content .dash-right .dash-box .dash-big{
        font-size: 19px;
        line-height: 17px;
    }
    .app-wrap .content .dash-box .dash-resp-head {
        grid-template-columns: auto auto;
        row-gap: 3px;
    }
    .app-wrap .content .dash-box .dash-resp-head .dash-title {
        grid-column: span 2;
    }
    .app-wrap .content .dash-box .dash-resp-head .dash-color{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 6px;
    }
    .app-wrap .content .dash-center .dash-response-box {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-head p {
        font-size: 16px;
        padding: 4px 9px 2px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-head .percent{
        padding: 3px 8px 0px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-body::after{
        background: #d3d3d3;
        width: 1px;
        height: 24px;
    }
    .app-wrap .content .dash-center .num-box-row {
        row-gap: 10px;
    }
    .app-wrap .content .dash-center .num-box-row .dash-box{
        row-gap: 6px;
    }
    .app-wrap .content .dash-center .num-box-row .small{
        text-align: center;
    }
    .app-wrap .content .dash-center .num-box-row .big{
        text-align: center;
    }
    .app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box p span{
        margin-top: 5px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box{
        grid-template-columns: 1fr 0.5fr;
    }
    .app-wrap .content .dash-bottom .dash-box .graph-box canvas {
        max-height: 200px;
    }
}
@media (min-width: 0px) and (max-width: 569px) {
    .app-wrap {
        grid-template-columns: 47px 1fr;
    }
    .app-wrap .content-box {
        grid-template-rows: auto 1fr 30px;
    }
    .app-wrap .top-bar .h1 {
        position: relative;
        top: 6px;
        font-size: 13px;
    }
    .app-wrap .top-bar .top-bar-filter{
        grid-template-columns: auto auto;
        margin-top: 5px;
        justify-content: space-between;
    }
    .app-wrap .top-bar .top-bar-filter .top-bar-select,
    .app-wrap .top-bar .top-bar-filter .top-bar-btn{
        display: none;
    }
    .app-wrap .top-bar .top-bar-filter .top-para{
        position: relative;
        top: 0px;
        right: 0px;
        font-size: 9px;
    }
    .app-wrap .top-bar .top-bar-filter .top-user{
        position: relative;
        top: 0px;
        right: 0px;
    }
    .app-wrap .content .dash-left{
        grid-template-columns: 1fr;
    }
    .app-wrap .content .dash-box .dash-head span{
        font-size: 11px;
        line-height: 11px;
    }
    .app-wrap .content .dash-left .dash-box .dash-meter {
        padding: 0px 60px;
    }
    .app-wrap .content .dash-center .dash-response-box {
        grid-template-columns: 1fr 1fr;
    }
    .app-wrap .content .dash-box .dash-resp-head {
        grid-template-columns: auto;
    }
    .app-wrap .content .dash-box .dash-resp-head .dash-title{
        grid-column: span 1;
    }
    .app-wrap .content .dash-box .dash-resp-head .switch-box{
        top: 15px;
        right: 1px;
    }
    .app-wrap .content .dash-box .dash-resp-head .switch-box label {
        font-size: 9px;
    }
    .app-wrap .content .dash-box .dash-resp-head .dash-color {
        font-size: 10px;
        line-height: 13px;
    }
    .app-wrap .content .dash-box .dash-resp-head .dash-color span{
        width: 10px;
        height: 10px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse{
        border-radius: 10px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-head p {
        font-size: 15px;
        padding: 2px 10px 1px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-head p span {
        font-size: 13px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-body{
        padding: 10px 0px;
    }
    .app-wrap .content .dash-center .dash-response-box .dash-reponse-body p {
        font-size: 17px;
        font-weight: 600;
    }
    .app-wrap .content .dash-center .dash-response-box {
        margin-top: 0px;
    }
    .app-wrap .content .dash-center .num-box-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box{
        align-content: space-evenly;
    }
    .app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box p{
        line-height: 23px;
        font-size: 12px;
    }
    .app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box p span{
        font-size: 21px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box {
        grid-template-columns: 1fr;
        row-gap: 14px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-p{
        font-size: 12px;
        line-height: 18px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-p span{
        font-size: 25px;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-img canvas{
        max-height: none;
        max-width: 100%;
    }
    .app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-img.donught canvas{
        max-width: 75%;
        margin: auto;
    }
    .app-wrap .content .dash-right{
        grid-template-columns: 1fr 1fr;
    }
    .app-wrap .content .dash-right .dash-box{
        row-gap: 10px;
    }
    .app-wrap .content .dash-bottom .dash-box .graph-box canvas {
        max-height: 130px;
        max-width: 100%;
    }
    .app-wrap .content .dash-right .dash-box .dash-big {
        font-size: 17px;
    }
    .app-wrap .content .dash-box .dash-head .copy{
        width: 12px;
        right: 14px;
        top: -4px;
    }
    .app-wrap .content .dash-box .dash-head .help{
        width: 12px;
        right: -4px;
        top: -4px;
    }
}