/*Style sheet*/
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: var(--black);
  margin: 0px;
  background: #F9F9F9;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
}
ul {
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
}
a {
    text-decoration: none;
}
.mg-top-70 {
    margin-top: 70px;
}
.mg-top-60 {
    margin-top: 60px;
}
.mg-top-50 {
    margin-top: 50px;
}
.mg-top-40 {
    margin-top: 40px;
}
.mg-top-30 {
    margin-top: 30px;
}
.mg-bot-50 {
    margin-bottom: 50px;
}
.mg-bot-40 {
    margin-bottom: 40px;
}
.mg-bot-25 {
    margin-bottom: 25px;
}
.mg-bot-15 {
    margin-bottom: 15px;
}
.mg-bot-10 {
    margin-bottom: 10px;
}
.font-serif {
    font-family: serif;
}
/*dashboard*/
.full-height{
  height: 100vh;
}
.app-wrap{
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
}
.app-wrap .side-bar{
  background: rgb(50,131,91);
  background: linear-gradient(180deg, rgba(50,131,91,1) 0%, rgba(25,66,46,1) 100%);
  border-top-right-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.app-wrap .side-bar .logo{
  padding: 0px 8px;
  margin-top: 25px;
}
.app-wrap .side-bar .logo img{
  width: 100%;
}
.app-wrap .content-box{
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  row-gap: 10px;  
}
.app-wrap .top-bar{
  position: relative;
  display: flex;
  padding-right: 15px;
}
.app-wrap .top-bar::after{
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  box-shadow: 0px 0px 5px rgb(17 17 17 / 33%);
  top: 0px;
  right: 0px;
  z-index: -1;
  background: white;
}
.app-wrap .top-bar .h1{
  margin: 0px;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  color: #55565a;
  display: flex;
  align-items: center;
}
.app-wrap .top-bar .h1::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 60%;
  background: #707070;
  top: 0px;
  bottom: 0px;
  right: -12px;
  margin: auto;
}
.app-wrap .top-bar .h1 .green{
  color: #32835b;
}
.app-wrap .top-bar .top-bar-filter{
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  align-items: center;
}
.app-wrap .top-bar .top-bar-filter .top-bar-select{

}
.app-wrap .top-bar .top-bar-filter .top-bar-select label{
  font-size: 11px;
  margin-left: 21px;
  color: #707070;
}
.app-wrap .top-bar .top-bar-filter .top-bar-select select{
  width: 80px;
  border-radius: 5px;
  border: 1px solid #adadad;
  outline: none;
  height: 22px;
}
.app-wrap .top-bar .top-bar-filter .top-bar-btn{
  background: #32835B;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 5px;
}
.app-wrap .top-bar .top-bar-filter .top-bar-btn a{
  color: white;
  font-size: 12px;
  display: block;
}
.app-wrap .top-bar .top-bar-filter .top-bar-btn a svg{
  color: white;
  width: 14px;
  margin-top: -3px;
}
.app-wrap .top-bar .top-bar-filter .top-bar-btn a span{
  
}
.app-wrap .top-bar .top-bar-filter .ver-line{
  width: 2px;
  height: 80%;
  background: #707070;
  margin-left: 5px;
}
.app-wrap .top-bar .top-bar-filter .top-para{
  font-size: 11px;
  margin-left: 6px;
  color: #707070;
}
.app-wrap .top-bar .top-bar-filter .top-user{
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.app-wrap .top-bar .top-bar-filter .top-user img{
  width: 30px;
  margin-bottom: -2px;
}
.app-wrap .top-bar .top-bar-filter .top-user p{
  font-size: 11px;
  color: black;
}
.app-wrap .content{
  display: grid;
  grid-template-columns: 16% 1fr 13%;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
  padding-right: 10px;
}
.app-wrap .content .dash-box{
  border: 1px solid rgb(213 213 213);
  background-color: white;
  box-shadow: 0px 0px 12px rgb(17 17 17 / 8%);
  border-radius: 20px;
  padding: 8px;
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-between;
}
.app-wrap .content .dash-box .dash-head{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 7px;
  align-items: center;
}
.app-wrap .content .dash-box .dash-head .dash-icon{
  width: 30px;
}
.app-wrap .content .dash-box .dash-head span{
  font-size: 13px;
  font-weight: 500;
  color: #32835b;
  padding-right: 47px;
  line-height: 17px;
}
.app-wrap .content .dash-box .dash-head .copy{
  position: absolute;
  width: 14px;
  right: 20px;
  top: 2px;
}
.app-wrap .content .dash-box .dash-head .help{
  position: absolute;
  width: 14px;
  right: 1px;
  top: 2px;
}

.app-wrap .content .dash-box .dash-resp-head{
  grid-template-columns: auto auto auto;
  justify-content: start;
  column-gap: 12px;
}
.app-wrap .content .dash-box .dash-resp-head span{
  padding: 0px !important;
}
.app-wrap .content .dash-box .dash-resp-head .dash-color{
  font-size: 12px;
}
.app-wrap .content .dash-box .dash-resp-head .dash-color span{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
}
.app-wrap .content .dash-box .dash-resp-head .dash-color span.dark-blue{
  background-color: #5087a7;
}
.app-wrap .content .dash-box .dash-resp-head .dash-color span.light-blue{
  background-color: #51cfcf;
}
.app-wrap .content .dash-box .dash-resp-head .switch-box{
  position: absolute;
  top: -4px;
  right: 47px;
}
.app-wrap .content .dash-box .dash-resp-head .switch-box label{
  font-size: 11px;
}
.app-wrap .content .dash-box .dash-resp-head .switch-box input{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.app-wrap .content .dash-box .dash-resp-head .switch-box .switch-bx{
  display: inline-block;
  width: 36px;
  height: 18px;
  background: #3EB97D;
  border-radius: 18px;
  vertical-align: middle;
  position: relative;
}
.app-wrap .content .dash-box .dash-resp-head .switch-box .switch-bx span{
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  left: 4px;
  border-radius: 100px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.app-wrap .content .dash-box .dash-resp-head .switch-box input:checked + .switch-bx span{
  left: calc(100% - 15px);
} 
.app-wrap .content .dash-left{
  grid-row: span 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
}
.app-wrap .content .dash-left .dash-box .dash-meter-box{

}
.app-wrap .content .dash-left .dash-box .dash-meter{
  padding: 0px 30px;
}
.app-wrap .content .dash-left .dash-box .dash-meter .meter{
  width: 100%;
  aspect-ratio: 130 / 74;
}
.app-wrap .content .dash-left .dash-box .dash-meter-no{
  font-size: 10px;
  text-align: center;
  margin-top: 15px;
}
.app-wrap .content .dash-left .dash-box .dash-meter-no span{
  background: #32835b;
  color: white;
  display: inline-block;
  padding: 0px 3px 1px;
  border-radius: 2px;
  margin: 0px 3px;
}
.app-wrap .content .dash-center{
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
}
.app-wrap .content .dash-center .dash-response-bx{
  grid-template-rows: auto 1fr;
  row-gap: 14px;
}
.app-wrap .content .dash-center .dash-response-box{
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse{
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-head{
  background: #32835B;
  color: white;
  display: grid;
  grid-template-columns: 1fr auto;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-head p{
  font-size: 18px;
  padding: 3px 9px 0px;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-head p span{
  font-size: 15px;
  margin-left: 4px;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-head .percent{
  font-size: 11px;
  background: #28AB6A;
  padding: 0px 8px;
  display: grid;
  align-items: center;
}
.app-wrap .content .dash-center .dash-response-box .yellow .dash-reponse-head{
  background-color: #e6c068;
}
.app-wrap .content .dash-center .dash-response-box .yellow .dash-reponse-head .percent{
  background-color: #9d7314;
}
.app-wrap .content .dash-center .dash-response-box .orange .dash-reponse-head{
  background-color: #f99e4d;
}
.app-wrap .content .dash-center .dash-response-box .orange .dash-reponse-head .percent{
  background-color: #d26b0e;
}
.app-wrap .content .dash-center .dash-response-box .brown .dash-reponse-head{
  background-color: #db6b2a;
}
.app-wrap .content .dash-center .dash-response-box .brown .dash-reponse-head .percent{
  background-color: #7d401d;
}
.app-wrap .content .dash-center .dash-response-box .red .dash-reponse-head{
  background-color: #cb150c;
}
.app-wrap .content .dash-center .dash-response-box .red .dash-reponse-head .percent{
  background-color: #c5534d;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  position: relative;
  padding: 7px 0px;
  align-items: center;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-body::after{
  content: '';
  background: #707070;
  position: absolute;
  width: 2px;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-body p{
  font-size: 20px;
  font-weight: 700;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-body .d-blue{
  color: #5087A7;
}
.app-wrap .content .dash-center .dash-response-box .dash-reponse-body .l-blue{
  color: #51CFCF;
}
.app-wrap .content .dash-center .num-box-row{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 8px;
}
.app-wrap .content .dash-center .num-box-row .dash-box{
  border-radius: 15px;
  padding: 8px 8px 3px;
  align-content: space-evenly;
}
.app-wrap .content .dash-center .num-box-row .small{
  font-size: 11px;
  line-height: 11px;
}
.app-wrap .content .dash-center .num-box-row .big{
  font-size: 21px;
  font-weight: 700;
  text-align: right;
  color: #32835b;
  line-height: 24px;
}
.app-wrap .content .dash-center .dash-graph-num{
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  column-gap: 10px;
}
.app-wrap .content .dash-center .dash-graph-num .graph-box{
  grid-template-rows: auto 1fr;
  row-gap: 6px;
}
.app-wrap .content .dash-center .dash-graph-num .graph-box .flo-select{
  position: absolute;
  font-size: 11px;
  right: 42px;
  top: 0px;
  border: 1px solid #c7c7c7;
  outline: none;
  color: #727272;
  border-radius: 2px;
}
.app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-img{

}
.app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-img canvas{
  max-height: 96px;
}
.app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-p{
  color: #32835b;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 0px 26px;
  margin-right: -10px;
}
.app-wrap .content .dash-center .dash-graph-num .graph-box .graph-img-box .graph-p span{
  display: block;
  color: #444444;
  font-size: 33px;
  font-weight: 600;
}
.app-wrap .content .dash-center .dash-graph-num .dash-acq-box{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}
.app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box{
  grid-template-rows: auto;
  align-content: center;
}
.app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box p{
  font-weight: 500;
  color: #32835b;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
.app-wrap .content .dash-center .dash-graph-num .dash-acq-box .dash-box p span{
  display: block;
  color: #444444;
  font-weight: 800;
  font-size: 30px;
}
.app-wrap .content .dash-right{
  display: grid;
  grid-template-rows: auto auto 1.2fr 1fr 1fr;
  row-gap: 10px;
}
.app-wrap .content .dash-right .dash-right-btn{
  border: 1px solid #32835b;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
  color: #32835b;
  text-align: center;
  padding: 7px 0px;
}
.app-wrap .content .dash-right .dash-box .dash-head span{
  padding: 0px;
}
.app-wrap .content .dash-right .dash-box .dash-big{
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
.app-wrap .content .dash-right .dash-box .dash-big .sml{
  background: #32835b;
  color: white;
  font-weight: 400;
  font-size: 10px;
  display: inline-block;
  padding: 0px 7px;
  line-height: 23px;
  border-radius: 4px;
}
.app-wrap .content .dash-bottom{
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.app-wrap .content .dash-bottom .dash-box{
  row-gap: 20px;
}
.app-wrap .content .dash-bottom .dash-box .graph-box{

}
.app-wrap .content .dash-bottom .dash-box .graph-box canvas{
  max-height: 100%;
}
.app-wrap .footer{
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.app-wrap .footer::after{
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  box-shadow: 0px 0px 5px rgb(17 17 17 / 33%);
  top: 0px;
  right: 0px;
  z-index: -1;
  background: white;
}
.app-wrap .footer p{
  font-size: 11px;
  text-align: center;
  color: #707070;
}

